<header class="flex justify-between items-center p-6 pl-8 pr-8">
	<h1 class="text-blue-green font-extrabold text-3xl sm:text-4xl">Logo</h1>

	<input class="placeholder-gray-700 pt-2 pb-2 border-b-2 hidden xl:block" placeholder="Search Here..." />

	<ul class="flex justify-center items-center font-bold gap-5 hidden lg:flex">
		<li class="cursor-pointer gap-1 flex justify-center items-center hover:text-blue-green">Home <img class="w-4" src="../../assets/arrow-down-icon.svg"></li>
		<li class="cursor-pointer gap-1 flex justify-center items-center hover:text-blue-green">Pages <img class="w-4" src="../../assets/arrow-down-icon.svg"></li>
		<li class="cursor-pointer gap-1 flex justify-center items-center hover:text-blue-green">Insurance <img class="w-4" src="../../assets/arrow-down-icon.svg"></li>
		<li class="cursor-pointer gap-1 flex justify-center items-center hover:text-blue-green">Blog <img class="w-4" src="../../assets/arrow-down-icon.svg"></li>
		<li class="cursor-pointer gap-1 flex justify-center items-center hover:text-blue-green">Contact Us</li>
	</ul>

	<p class="flex justify-center items-center gap-2 font-medium text-lg hidden xl:flex"><img class="w-4" src="../../assets/phone-icon.svg">+(111) 65 458 856</p>

	<div class="flex justify-center items-center gap-4">
		<button class="flex justify-center items-center gap-3 bg-blue-green text-white p-8 pt-3 pb-3 text-bold  rounded-md hidden sm:flex"><img class="w-4" src="../../assets/pencil-icon.svg">Get A Quote</button>
		<img class="cursor-pointer w-8" src="../../assets/menu-icon.svg">
	</div>
</header>