<footer class="bg-light-green p-8 pl-16 pr-16 flex justify-between flex-wrap">
	<div class="flex flex-col gap-2 m-4 mr-32">
		<h1 class="text-blue-green font-extrabold text-3xl sm:text-4xl">Logo</h1>
		<p><span class="font-semibold">Location: </span>123 Street ABC City</p>
		<p><span class="font-semibold">Contact: </span>+91 9999999999</p>
		<p><span class="font-semibold">Time: </span>9am to 5pm, Monday to Friday</p>
		<p><span class="font-semibold">Email: </span>insurance&#64;mail.com</p>
	</div>

	<div class="flex flex-col gap-2 m-4">
		<h2 class="font-bold text-xl">Company</h2>
		<a class="cursor-pointer">Case Study</a>
		<a class="cursor-pointer">Case Details</a>
		<a class="cursor-pointer">Privacy Policy</a>
		<p class="cursor-pointer">Services</p>
	</div>

	<div class="flex flex-col gap-2 m-4">
		<h2 class="font-bold text-xl">Explore</h2>
		<a class="cursor-pointer">About Us</a>
		<a class="cursor-pointer">Blog and News</a>
		<a class="cursor-pointer">Blog Details</a>
		<p class="cursor-pointer">Pricing</p>
	</div>

	<div class="flex flex-col gap-2 m-4">
		<h2 class="font-bold text-xl">Insurance</h2>
		<a class="cursor-pointer">Health Insurance</a>
		<a class="cursor-pointer">Car Insurance</a>
		<a class="cursor-pointer">Business Insurance</a>
		<p class="cursor-pointer">Life Insurance</p>
	</div>
</footer>