<div class="mt-6 pb-4">
	<p class="text-blue-green text-center">OUR FEATURES</p>
	<h2 class="font-bold text-4xl text-center mt-2">Better Digital Insurance</h2>
	<h2 class="font-bold text-4xl text-center">Begins Right Here</h2>

	<div class="flex justify-center items-center gap-8 mt-4 flex-wrap">
		<div class="flex flex-col justify-center items-start gap-2 p-4 shadow-xl rounded w-72 m-4">
			<img class="w-10" src="../../assets/money-icon.svg">
			<h3 class="font-bold text-xl">Money Back Guarantee</h3>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem fugit doloremque optio</p>
		</div>

		<div class="flex flex-col justify-center items-start gap-2 p-4 shadow-xl rounded w-72 m-4">
			<img class="w-10" src="../../assets/file-icon.svg">
			<h3 class="font-bold text-xl">All Claims At Any Time</h3>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem fugit doloremque optio</p>
		</div>

		<div class="flex flex-col justify-center items-start gap-2 p-4 shadow-xl rounded w-72 m-4">
			<img class="w-10" src="../../assets/shield-icon.svg">
			<h3 class="font-bold text-xl">Digital Insurance Policy</h3>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem fugit doloremque optio</p>
		</div>

		<div class="flex flex-col justify-center items-start gap-2 p-4 shadow-xl rounded w-72 m-4">
			<img class="w-10" src="../../assets/dollar-icon.svg">
			<h3 class="font-bold text-xl">Direct Payment App</h3>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem fugit doloremque optio</p>
		</div>
	</div>
</div>	