<div class="mb-8">
	<p class="text-blue-green text-center">READY TO GET STARTED</p>
	<h2 class="font-bold text-4xl text-center mt-2">Get The Latest Insurance News In</h2>
	<h2 class="font-bold text-4xl text-center">Minutes</h2>

	<p class="mt-4 text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
	<p class="text-center mb-4">Optio voluptatibus ad iusto voluptatum? Minus, commodi repellendus voluptate hic dolorum odio nemo maiores.</p>

	<div class="flex items-center justify-center">
		<input class="bg-gray-200 rounded-md pt-2 pb-2 pl-6 pr-6" placeholder="Email Address">
		<button class="bg-blue-green rounded-md pt-2 pb-2 pl-6 pr-6 text-white flex justify-center items-center gap-1"><img src="../../assets/triangle-icon.svg">Subscribe</button>
	</div>
</div>