<main class="bg-light-green flex justify-center items-center pl-8 pr-8 pt-4 pb-4 flex-col-reverse lg:flex-row lg:justify-between lg:items-center">
	<div class="flex flex-col items-center w-full lg:w-1/2 gap-4 lg:gap-8 lg:items-start">
		<h1 class="font-bold text-5xl lg:text-6xl">Take The Worry Out Of Life With <span class="text-blue-green">Insurance</span> Protection</h1>
		<p class="text-xl text-gray-700">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut ipsa porro earum illum consequatur, velit vero! Qui, debitis magni? Neque unde natus consequuntur quidem repudiandae alias enim ut reiciendis ullam.</p>

		<div class="flex flex-col justify-start align-start gap-8 sm:flex-row">
			<button class="text-white bg-blue-green pt-3 pb-3 pl-7 pr-7 rounded-md">> Get Started</button>
			<button class="flex justify-center items-center gap-2 text-blue-green rounded-md pt-3 pb-3 pl-7 pr-7 border-2 border-blue-green"><img src="../../assets/airplane-icon.svg" class="w-4"> Contact Us</button>
		</div>
	</div>

	<img class="w-64 lg:w-1/2 mt-1 mb-1" alt="Hero image" src="../../assets/hero-image.png">
</main>