<div class="mt-8 mb-8">
	<p class="text-blue-green text-center">INSURANCE SERVICES</p>
	<h2 class="font-bold text-4xl text-center mt-2">Take The Worry Out Of Life</h2>
	<h2 class="font-bold text-4xl text-center">With Insurance Protection</h2>

	<div class="mt-8 flex justify-center items-center gap-8 flex-wrap">
		<div class="flex justify-center items-center flex-wrap gap-8 relative m-4">
			<img class="rounded-md w-96" alt="Photo" src="../../assets/photo-1.jpg">
			<div class="bg-green-700 bg-opacity-90 text-white p-4 rounded-md absolute m-4 w-72 bottom-4">
				<p>INSURANCE - VEHICLE</p>
				<p class="text-lg font-bold">Business Insurance</p>
			</div>
		</div>

		<div class="flex justify-center items-center flex-wrap gap-8 relative m-4">
			<img class="rounded-md w-96" alt="Photo" src="../../assets/photo-2.jpg">
			<div class="bg-green-700 bg-opacity-90 text-white p-4 rounded-md absolute m-4 w-72 bottom-4">
				<p>INSURANCE - VEHICLE</p>
				<p class="text-lg font-bold">Vehicle Insurance</p>
			</div>
		</div>

		<div class="flex justify-center items-center flex-wrap gap-8 relative m-4">
			<img class="rounded-md w-96" alt="Photo" src="../../assets/photo-3.jpg">
			<div class="bg-green-700 bg-opacity-90 text-white p-4 rounded-md absolute m-4 w-72 bottom-4">
				<p>INSURANCE - CAR</p>
				<p class="text-lg font-bold">Car Insurance</p>
			</div>
		</div>
	</div>
</div>